* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1e1e1e;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

label {
  padding: 10px 0;
  font-size: 16px;
}

input {
  padding: 10px;
  background-color: #313131;
  border: none;
  border-radius: 4px;
  color: white;
}

button {
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(15, 120, 239);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.title {
  margin-top: 30px;
}

.container {
  border: solid white 1px;
  border-radius: 2px;
  padding: 10px;
  margin: 10px 0;
}

.btnDelete{
  padding: 10px;
  margin-top: 30px;
  background-color: rgb(239, 15, 37);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}
h1, h2, p, label {
  color: white;
}

